$color_grey-light:   #faf9f7;
$color_grey:         #eee;
$color_grey-dark:    #b4b4b4;
$color_black:        #3f3f3f;
$color_black-light:  #49485e;
$color_white:        #fff;
$color_white-hard:   #fffefb;
$color_red:          #ff8484;
$color_green:        #7bae73;
